<div>
    <h3 class="bg-success">Mora</h3>
    <img class="rounded float-start" 
    style="width: 500p  x;
    height: auto;"  
    src="https://cdn.agroempresario.com/images/posts/851b6b9c3f7c6e1bde1c15479dc86d01546f98c29a1f40f7_840.jpg" alt="mora">
    <p>La mora es una baya silvestre, de la familia de las rosáceas, que suele crecer en zonas de montaña y cerca de ríos y pequeños arroyos. En estado inmaduro es ácida y astringente, mientras que maduro tiene un sabor dulce y afrutado. Contiene compuestos aromáticos que pueden recordar al vino tinto.</p>
</div>