<nav class="navbar navbar-expand-lg bg-body-tertiary m-0" style="width: 50%;">
  <div class="container-fluid " style="background-color: transparent;">
    <a class="p-2 text-dark text-decoration-none" routerLink="tropicales"
    style="cursor: pointer;"
    >Tropicales</a>
    <a class="p-2 text-dark text-decoration-none " routerLink="citricas"
    >Citricas</a>
    <a class="p-2 text-dark text-decoration-none" routerLink="berries"
    >Berries</a>
  </div>
</nav>

<router-outlet></router-outlet>