<div style="position: relative; 
width: 100%; height: 400px;
 overflow: hidden;">

    <h1 style="color: white;
     position: absolute;
      top: 50%; left: 50%; 
      transform: translate(-50%, -50%); 
      font-size: 7rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkgray;
      ">Tropicales</h1>

    <img class="img-fluid"
    style="width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute; 
    top: 0; left: 0; z-index: -1;"
     src="https://img.freepik.com/fotos-premium/banner-frutas-tropicales-arco-iris-saludable-hojas-palma-mesa-madera-azul_70626-8983.jpg?w=1060">    
</div>
<div class=" bg-dark d-flex g-4" style="margin: 0%;">
    <a class="p-2 text-light text-decoration-none" routerLink="mango">Mango</a> 
    <a class="p-2 text-light text-decoration-none" routerLink="papaya">Papaya</a>
</div>

<router-outlet></router-outlet>